@model IEnumerable<Funcionario>

@{
    ViewData["Title"] = "Gestão de funcionarios";

    var funcionarioPesquisado = TempData["funcionario"] as Funcionario;
}


<partial name="_Header" model="Model"></partial>
<partial name="_NavBar" model="Model"></partial>


@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["SuccessMessage"]      
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["ErrorMessage"]
    </div>
}


<div class="d-flex justify-content-end  mb-3 container-pesquisarEhNewbedepart">
    <div class="div d-flex d-flex my-auto h-25   container-search">
        @using (Html.BeginForm("GetFuncionarioUnico", "Func", FormMethod.Post))
        {
            <input type="search" name="email" placeholder="Email do funcionário" class=" input_search-depart" />
            <button class="botao_search-depart"><img src="~/assets/icon_lupa.svg" /></button>
        }
    </div>




    @* Botão criar WBS e pesquisar - O CSS está no departamente  *@
    <a class="btn btn-primary botao_criar_departamento" asp-controller="Func"
       asp-action="AdicionarFuncionario">
        <img src="~/assets/icone-admissao-admin.svg" class="icone_plus" />
        Admissão
    </a>
</div>


@* listagem dos Funcionários*@

<div class="container_TodosFunc">
    @foreach (Funcionario registro in Model)
    {
        <div class=" container_CardFuncionario  @(funcionarioPesquisado != null && funcionarioPesquisado.Email == registro.Email ? "highlight" : "")">
            <article class=" card_Func">

                @* Imagem Funcionário*@
                <div class="container_img-card">
                    <img src="/assets/func-adm.svg" class="imagem-card" alt="...">
                </div>
                @* Inserir os Dados no Card *@
                <div class="container_listaDados">
                    <span class="item_text-nome">
                        @registro.Nome
                    </span>
                    <span class="item_text-cargo">
                        @registro.Cargo
                    </span>
                    <span class="item_text-depart">
                        @registro.Departamento_Id
                    </span>
                </div>


                @* Botão Atualizar *@
                <div class="d-flex justify-content-center container_button-funcCard">
                    <div class="">
                        <a class="btn btn-light botao-atualizar"
                           asp-action="UpdateFuncionario"
                           asp-route-email="@registro.Email">
                            Atualizar
                        </a>

                    </div>
                    @* Botão Excluir *@
                    <div class="">
                        <form asp-action="DeleteFuncionario"
                              asp-route-Email="@registro.Email" method="post">
                            <button class="btn btn-secondary botao-cancelarExcluir" data-id="@registro.Email">
                                Excluir
                            </button>
                        </form>
                    </div>
                </div> @* Fecha a div dos botões*@
            </article>
        </div>
    }
</div>